<html>
  <head>
    <meta charset="utf-8" />
    <link href="/public/stylesheets/bootstrap.css" rel="stylesheet" />
    <title>URL Shorten</title>
  </head>
  <body>

    {{{body}}}
    <script src="/public/javascripts/bootstrap.js"></script>
  </body>
</html>