* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  margin: 100px auto;
  max-width: 900px;
}

.input {
  background-color: #e9ecef;
  border: none;
}

table {
  font-size: 14px;
}

table th {
  text-transform: uppercase;
}
